:root {
    --primary-color: #2e3532;
    --secondary-color: #7E9181;
    --tertiary-color: #C7CEDB;
    --quaternary-color: #A0AAB2;
    --quinary-color: #94849B;
}

body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color)
}

.app {
    background-color: var(--tertiary-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--secondary-color);;
    border-radius: 10px;
    padding: 20px;
    margin: 10vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
    max-height: 80vh;
}

.title {
    text-align: center;
    margin: 0;
}

.subtitle {
    text-align: center;
    margin: 0;
    position: relative;
    top: -20px;
}

.field-container {
    width: 100%;
}

.dropdown-field {
    padding: 5px 12px;
    width: 100%;
    box-sizing: border-box;
}

label {
    font-weight: 500;
}

input {
    padding: 5px 12px;
    width: 100%;
    box-sizing: border-box;
}

.submit {
    background-color: green;
    color: white;
    border: 0; 


}

.hidden {
    display: none;
}

p {
    font-size: small;
}

#image-field {
    color: black;
    width: 100%;
}

#image {
    width: 100%;
}

.submit-button {
    background-color: green;
    color: white;
    border-color: darkgreen;
    padding: 5px 12px;
}

p {
    margin: 0;
}

.beer-search-results {
    background-color: var(--quaternary-color);
}

.beer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border: 2px solid var(--primary-color);
}

.beer-name {
    margin: 0;
}

.beer-description {
    margin: 0;
}

.beer-mean {
    margin: 0
}

.beer-image {
    width: 50px;
    height: 50px;
}

.highlight {
    font-size: 15px;
    font-weight: bold;
}