:root {
    --primary-color: #2E3532;
    --secondary-color: #7E9181;
    --tertiary-color: #C7CEDB;
    --quaternary-color: #A0AAB2;
    --quinary-color: #94849B;
}

body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color)
}

.app {
    display: block
}

.container {
    background-color: var(--tertiary-color);
    height: 90vh;
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
    box-sizing: border-box;
}

.title {
    text-align: center;
    margin: 0;
}

.panel-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}

.panel {
    border-radius: 5px;
    border: 5px solid var(--primary-color);
    padding: 5px 5px;
}

.panel-title {
    margin: 0;
}

.inner-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-username {
    margin: 0
}

#profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.footer-menu {
    width: 100vw;
    height: 10vh;
    display: flex;

    button {
        flex: 1 1 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: black;
    }
}


.placeholder-alta-cerveza {
    position: absolute;
    bottom: 20%;
    left: 10%;
    color: black;
}

.placeholder-alta-local {
    position: absolute;
    bottom: 20%;
    right: 10%;
    color: black;
}

.hidden {
    display: none;
}